

.contenedor_app{
    
    display: flex;
    height:90% ;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px orange,-2px -2px orange, 2px -2px orange,-2px 2px orange;

}

.contenedor_frase{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    

}
p{
    padding: 40px 30px;
    margin: 30px 50px;
    font-size: 1.5em;
    font-weight: 520;
    background-color: white;
    border-radius: 15px 15px 100px 15px;
    border: .15em solid rgba(17, 17, 46, 0.658);
    color: rgba(17, 17, 46, 0.658);

}
span{
    font-size: 1em;
    font-weight: 400;
margin-bottom: 40px;
padding: 10px 30px;
background-color: white;
color: rgba(51, 49, 49, 0.63);
border-radius: 10px;
}
button{
    font-size: 1.5em;
    font-weight: 500;
    padding: .5em 2rem;
    border-radius: 10px;
    background-color: rgba(255, 166, 0, 0.795);
    color: brown;
    border: .1em solid brown;
    cursor: pointer;
    
}
button:hover{
    transform: scale(1.1);
}
